<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="corpoPrincipal">
<%- include("../includes/header") %>
    <main class="conteudoPrincipal">

    <h1><%= title %></h1>

    <form action="/login" method="POST">

      <label for="login">Usuário ou e-mail</label><br>
      <input type="login" id="login" name="login" placeholder="Usuário ou e-mail"><br>

      <label for="senha">Senha</label><br>
      <input type="password" id="senha" name="senha" placeholder="Senha"><br><br>

      <button type="submit">Entrar</button><br><br>
      <a href="/signup"><button type="button">Cadastrar</button></a>

    </form>

    <% if( typeof erroLogin !== "undefined") {%>
    <p><%= erroLogin %></p>
    <% } %>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
