<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <form action="/login" method="POST">
      <input type="email" id="email" name="email" placeholder="E-mail">
      <input type="password" id="senha" name="senha" placeholder="Senha">
      <button type="submit">Entrar</button>
      <a href="/signup"><button type="button">Cadastrar</button></a>
    </form>

    <% if( typeof msg !== "undefined") {%>
    <p><%= msg %></p>
    <% } %>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
  </body>
</html>
