<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <form action="/signup" method="POST">
      <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário">
      <input type="email" id="email" name="email" placeholder="E-mail">
      <input type="password" id="senha" name="senha" placeholder="Senha">
      <button type="submit">Cadastrar</button>
      <a href="/login"><button type="button">Entrar</button></a>
    </form>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
  </body>
</html>
