<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="mainPrincipal mainIndexCapitulos">

    <h1 class="tituloIndexCapitulos"><%= title %></h1>

    <table class="tabelaDados">
        <% capitulos.forEach(capitulo => { %>
        <tr>
          <td> <%= capitulo.titulo %></td>
          <td>
            <% if (typeof authUsuario !== "undefined") { %>

            <a href="/story/<%= historia.diretorio %>/chapter/<%= capitulo.texto %>"><button type="button" class="btnLer">Ler</button></a>

            <% } else if (typeof authAdmin !== "undefined") { %>

            <!-- NÃO ATIVA -->
            <a href="/story/<%= historia.diretorio %>/chapter/<%= capitulo.texto %>"><button type="button" class="btnLer">Ler</button></a>
            
            <!-- NÃO ATIVA -->
            <form action="/story/<%= historia.diretorio %>/chapter/<%= capitulo.texto %>/delete?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>

            <% } %>
          </td>
        </tr>
        <% }); %>
    </table>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
  </body>
</html>
