<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainCapitulo">

    <h1 class="tituloCapitulo"><%= title %></h1>

    <h3><%= historia.titulo %></h3>
    <h2><%= capitulo.titulo %></h2>

    <p>Publicado em <%= moment(capitulo.createdAt).locale("pt-br").format("DD/MM/YYYY") %></p>
    <p>Atualizado em <%= moment(capitulo.updatedAt).format("DD/MM/YYYY") %></p>

    <p>Notas iniciais: <%= capitulo.notasIniciais %></p>

    <div class="capitulo">
      <!--<p><%= arquivoTxt %></p>-->
    </div>

    <p>Notas finais: <%= capitulo.notasFinais %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>

<script type="text/javascript">

const diretorio = "<%= diretorio %>";
const txt = "<%= txt %>";
const caminhoCompleto = (`uploads/historias/${diretorio}/${txt}.txt`);



</script>

    </div>
  </body>
</html>
