<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainCapitulo">

    <h1 class="tituloCapitulo"><%= title %></h1>

    <p><%= historia.titulo %></p>
    <p><%= capitulo.titulo %></p>
    <p><%= arquivoTxt %></p>
    <p><%= capitulo.notasIniciais %></p>
    <p><%= capitulo.notasFinais %></p>
    <p><%= capitulo.visivel %></p>
    <p><%= capitulo.createdAt %></p>
    <p><%= capitulo.updatedAt %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
