<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="mainPrincipal mainCapitulo">

    <h2><%= historia.titulo %></h2>

    <h1 class="tituloCapitulo"><%= capitulo.titulo %></h1>

    <p>Publicado em <%= moment(capitulo.createdAt).format("LLL") %></p>
    <p>Atualizado em <%= moment(capitulo.updatedAt).format("LLL") %></p>

    <p><b>Notas iniciais:</b> <%= capitulo.notasIniciais %></p>

    <div class="textoCapitulo">

      <%- conteudoCapitulo %>
    
    </div>

    <p><b>Notas finais:</b> <%= capitulo.notasFinais %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>

<script type="text/javascript">



</script>

  </body>
</html>
