<!DOCTYPE html>
<html lang="pt-br">
<%- include("../../includes/head") %>
  <body>
<%- include("../../includes/header") %>
    <main class="mainPrincipal mainCadastrarGenero">

    <h1 class="tituloCadastrarGenero"><%= title %></h1>

    <form action="/admin/genre/new" method="POST">
      <input type="text" id="nome" name="nome" placeholder="Gênero">
      <input type="text" id="descricao" name="descricao" placeholder="Descrição">
      <button type="submit" class="btnCadastrar">Cadastrar</button>
      <a href="/admin/genres"><button type="button" class="btnCancelar">Cancelar</button></a>
    </form>

    </main>
<%- include("../../includes/footer") %>
<%- include("../../includes/scripts") %>
  </body>
</html>
