<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <p><a href="/story/<%= historia.id %>/chapter/new"><button type="button">Novo capítulo</button></a></p>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
