<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <%= historia.id %>

    <form action="/story/<%= historia.id %>/chapter/<%= capitulo.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">

      <label for="titulo">Título</label><br>
      <input type="text" id="titulo" name="titulo" placeholder="Título" value="<%= capitulo.titulo %>"><br>

      <label for="notasIniciais">Notas iniciais</label><br>
      <textarea id="notasIniciais" name="notasIniciais" placeholder="Notas iniciais" rows="5" cols="40"><%= capitulo.notasIniciais %></textarea><br>

      <label for="texto">Texto</label><br>
      <textarea id="texto" name="texto" placeholder="Texto" rows="10" cols="50"><%= arquivoTxt %></textarea><br>

      <label for="notasFinais">Notas finais</label><br>
      <textarea id="notasFinais" name="notasFinais" placeholder="Notas finais" rows="5" cols="40"><%= capitulo.notasFinais %></textarea><br><br>

      <button type="submit">Salvar alterações</button><br><br>
      <a href="/story/<%= historia.id %>/chapters"><button type="button">Cancelar</button></a>

    </form>

    <br><br><br><br>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
