<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <p><a href="/admin/category/new"><button type="button">Adicionar</button></a></p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% categorias.forEach(categoria => { %>
        <tr>
          <th scope="row"> <%= categoria.id %></th>
          <th> <%= categoria.nome %></th>
          <th> <%= categoria.descricao %></th>
          <th>
            <a href="/admin/category/edit/<%= categoria.id %>" class="btn btn-warning">Editar</a>
            <form action="/admin/category/delete/<%= categoria.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
