<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="corpoPrincipal">
<%- include("includes/header") %>
    <main class="conteudoPrincipal">

    <h1><%= title %></h1>

    <p>Página não encontrada</p>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
