<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("includes/header") %>
    <main class="mainPrincipal mainErro404">

    <h1 class="tituloErro404"><%= title %></h1>

    <p>Página não encontrada</p>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
