<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <p><a href="/admin/genre/new"><button type="button">Adicionar</button></a></p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Gênero</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% generos.forEach(genero => { %>
        <tr>
          <th scope="row"> <%= genero.id %></th>
          <th> <%= genero.nome %></th>
          <th> <%= genero.descricao %></th>
          <th>
            <a href="/admin/genre/edit/<%= genero.id %>" class="btn btn-warning">Editar</a>
            <form action="/admin/genre/delete/<%= genero.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
