<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <form action="/story/new" method="POST">

      <label for="titulo">Título</label><br>
      <input type="text" id="titulo" name="titulo" placeholder="Título"><br>

      <label for="capa">Capa</label><br>
      <input type="file" id="capa" name="capa" placeholder="Capa"><br>

      <label for="sinopse">Sinopse</label><br>
      <input type="text" id="sinopse" name="sinopse" placeholder="Sinopse"><br><br>

      <label for="fkClassificacao">Classificação</label><br>
      <select id="fkClassificacao" name="fkClassificacao" placeholder="Classificação">
        <option value="">Selecione...</option>
        <% classificacoes.forEach(classificacao => { %>
        <option value="<%= classificacao.id %>"><%= classificacao.nome %></option>
        <% }); %>
      </select>
      <br><br>

      <button type="submit">Publicar</button><br><br>
      <a href="/stories"><button type="button">Cancelar</button></a>

    </form>

    <br><br><br><br>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
