<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <p>Bem vindo, @<%= usuario.nomeUsuario %></p>

      <a href="/stories"><button type="button">Histórias</button></a>
      <a href="/users"><button type="button">Usuários</button></a>
      <a href="/admin"><button type="button">Admin</button></a>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
