<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="mainPrincipal mainIndex">

    <!--<h1 class="tituloIndex"><%= title %></h1>-->

    <h1><a href="/signup">Cadastre-se</a></h1>

      <h2>Publique e divulgue suas histórias</h2>
      <h2>Leia histórias publicadas por outros autores</h2>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
