<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("includes/header") %>
    <main class="mainPrincipal mainInicio">

    <!--<h1 class="tituloInicio"><%= title %></h1>-->

    <p class="msgInicio">Publique sua história</p>

    <img src="/images/undraw_typewriter_i8xd_4.svg" class="imgInicio">

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
