<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <p></p>

      <a href="/admin/genres"><button type="button">Gêneros</button></a>
      <a href="/admin/categories"><button type="button">Categorias</button></a>
      <a href="/admin/ratings"><button type="button">Classificações</button></a>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
