<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="corpoPrincipal">
<%- include("includes/header") %>
    <main class="conteudoPrincipal">

    <h1><%= title %></h1>

    <p>Bem vindo, @<%= authAdmin.nomeUsuario %></p>

      <a href="/admin/users"><button type="button">Usuários</button></a><br><br>
      <a href="/admin/stories"><button type="button">Histórias</button></a><br><br>
      <a href="/admin/genres"><button type="button">Gêneros</button></a><br><br>
      <a href="/admin/categories"><button type="button">Categorias</button></a><br><br>
      <a href="/admin/ratings"><button type="button">Classificações</button></a><br><br>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
