<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("includes/header") %>
    <main class="mainPrincipal mainPainelAdmin">

    <h1 class="tituloPainelAdmin"><%= title %></h1>

    <p>Bem vindo, @<%= authAdmin.nomeUsuario %></p>

      <a href="/admin/users"><button type="button" class="btnAdmin">Usuários</button></a><br><br>
      <a href="/admin/stories"><button type="button" class="btnAdmin">Histórias</button></a><br><br>
      <a href="/admin/genres"><button type="button" class="btnAdmin">Gêneros</button></a><br><br>
      <a href="/admin/categories"><button type="button" class="btnAdmin">Categorias</button></a><br><br>
      <a href="/admin/ratings"><button type="button" class="btnAdmin">Classificações</button></a><br><br>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
    </div>
  </body>
</html>
