<!DOCTYPE html>
<html lang="pt-br">
<%- include("includes/head") %>
  <body>
<%- include("includes/header") %>
    <main class="container">

    <h1><%= title %></h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usuário</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(usuario => { %>
        <tr>
          <th scope="row"> <%= usuario.id %></th>
          <th> <%= usuario.nomeUsuario %></th>
          <th>
            <a href="/user/<%= usuario.nomeUsuario %>" class="btn btn-primary">Ver</a>
            <a href="/user/edit/<%= usuario.id %>" class="btn btn-warning">Editar</a>
            <form action="/user/delete/<%= usuario.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("includes/footer") %>
<%- include("includes/scripts") %>
  </body>
</html>
