<!DOCTYPE html>
<html lang="pt-br">
<%- include("../../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../../includes/header") %>
    <main class="mainPrincipal mainEditarClassificacao">

    <h1 class="tituloEditarClassificacao"><%= title %></h1>

    <form action="/admin/rating/edit/<%= classificacao.id %>?_method=PUT" method="POST">
      <input type="text" id="nome" name="nome" placeholder="Classificação" value="<%= classificacao.nome %>">
      <button type="submit" class="btnSalvar">Salvar alterações</button>
      <a href="/admin/ratings"><button type="button" class="btnCancelar">Cancelar</button></a>
    </form>

    </main>
<%- include("../../includes/footer") %>
<%- include("../../includes/scripts") %>
    </div>
  </body>
</html>
