<!DOCTYPE html>
<html lang="pt-br">
<%- include("../../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../../includes/header") %>
    <main class="mainPrincipal mainListarClassificacoes">

    <h1 class="tituloListarClassificacoes"><%= title %></h1>

    <p><a href="/admin/rating/new"><button type="button" class="btnAdicionar">Adicionar</button></a></p>

    <table class="tabelaDados">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Classificação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% classificacoes.forEach(classificacao => { %>
        <tr>
          <th scope="row"> <%= classificacao.id %></th>
          <th> <%= classificacao.nome %></th>
          <th>
            <a href="/admin/rating/edit/<%= classificacao.id %>"><button type="button" class="btnEditar">Editar</button></a>
            <form action="/admin/rating/delete/<%= classificacao.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("../../includes/footer") %>
<%- include("../../includes/scripts") %>
    </div>
  </body>
</html>
