<!DOCTYPE html>
<html lang="pt-br">
<%- include("../../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../../includes/header") %>
    <main class="mainPrincipal mainIndexClassificacoes">

    <h1 class="tituloIndexClassificacoes"><%= title %></h1>

    <p><a href="/admin/rating/new"><button type="button" class="btnAdicionar">Adicionar</button></a></p>

    <table class="tabelaDados">
        <tr>
          <th>Classificação</th>
          <th>Ações</th>
        </tr>
        <% classificacoes.forEach(classificacao => { %>
        <tr>
          <td> <%= classificacao.nome %></td>
          <td>
            <a href="/admin/rating/edit/<%= classificacao.id %>"><button type="button" class="btnEditar">Editar</button></a>
            <form action="/admin/rating/delete/<%= classificacao.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </table>

    </main>
<%- include("../../includes/footer") %>
<%- include("../../includes/scripts") %>
    </div>
  </body>
</html>
