<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainEditarHistoria">

    <h1 class="tituloEditarHistoria"><%= title %></h1>

    <form action="/story/<%= historia.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">

      <label for="titulo">Título</label><br>
      <input type="text" id="titulo" name="titulo" placeholder="Título" value="<%= historia.titulo %>"><br>

      <label for="capa">Capa</label><br>
      <input type="file" id="capa" name="capa" placeholder="Capa" value="<%= historia.capa %>"><br>

      <label for="sinopse">Sinopse</label><br>
      <textarea id="sinopse" name="sinopse" placeholder="Sinopse" rows="3" cols="25"><%= historia.sinopse %></textarea><br>
      
      <label for="fkClassificacao">Classificação</label><br>
      <select id="fkClassificacao" name="fkClassificacao" placeholder="Classificação">
        <option value="">Selecione...</option>
        <% classificacoes.forEach(classificacao => {
          if (historia.Classificacao.id == classificacao.id) { %>
        <option value="<%= historia.Classificacao.id %>" selected><%= historia.Classificacao.nome %></option>
        <% } else { %>
        <option value="<%= classificacao.id %>"><%= classificacao.nome %></option>
        <% }
            }); %>
      </select>
      <br><br>

      <button type="submit" class="btnSalvar">Salvar alterações</button><br><br>
      <a href="/stories"><button type="button" class="btnCancelar">Cancelar</button></a>

    </form>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
