<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainHistoria">

    <h1 class="tituloHistoria"><%= title %></h1>

    <p><%= historia.titulo %></p>
    <p><%= historia.Classificacao.nome %></p>
    <p><%= usuario.nomeUsuario %></p>
    <p><%= historia.capa %></p>
    <p><%= historia.sinopse %></p>
    <p><%= historia.finalizada %></p>
    <p><%= historia.interativa %></p>
    <p><%= historia.visivel %></p>
    <p><%= historia.createdAt %></p>
    <p><%= historia.updatedAt %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
