<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainHistoria">

    <h1 class="tituloHistoria"><%= historia.titulo %></h1>

    <p><%= historia.capa %></p>

    <h2>Escrita por <%= usuario.nomeUsuario %></h2>

    <p>Publicada em <%= moment(historia.createdAt).format("DD/MM/YYYY") %></p>

    <p><b>Classificação:</b> <%= historia.Classificacao.nome %></p>
    
    <% if (historia.finalizada == true) { %>
    <p><b>Status:</b> Finalizada</p>
    <% } else if (historia.finalizada == false) { %>
    <p><b>Status:</b> Em andamento</p>
    <% } %>

    <p><b>Sinopse:</b> <%= historia.sinopse %></p>

    <h2>Capítulos</h2>

    <table class="tabelaDados">
      <tbody>
        <% capitulos.forEach(capitulo => { %>
        <tr>
          <th> <%= capitulo.titulo %></th>
          <th>
            <a href="/story/<%= historia.diretorio %>/chapter/<%= capitulo.texto %>"><button type="button" class="btnLer">Ler</button></a>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
