<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="corpoPrincipal">
<%- include("../includes/header") %>
    <main class="conteudoPrincipal">

    <h1><%= title %></h1>

    <p><a href="/story/new"><button type="button">Publicar</button></a></p>

    <table class="tabelaDados">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">História</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% historias.forEach(historia => { %>
        <tr>
          <th scope="row"> <%= historia.id %></th>
          <th> <%= historia.titulo %></th>
          <th>
            <a href="/story/<%= historia.id %>/chapters"><button type="button">Capítulos</button></a>
            <a href="/story/<%= historia.id %>"><button type="button">Ver</button></a>
            <a href="/story/<%= historia.id %>/edit"><button type="button">Editar</button></a>
            <form action="/story/<%= historia.id %>/delete?_method=DELETE" method="POST">
              <button type="submit">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
