<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainPublicarHistoria">

    <h1 class="tituloPublicarHistoria"><%= title %></h1>

    <form action="/story/new" method="POST">

      <label for="titulo">Título</label><br>
      <input type="text" id="titulo" name="titulo" placeholder="Título"><br>

      <label for="capa">Capa</label><br>
      <input type="file" id="capa" name="capa" placeholder="Capa"><br>

      <label for="sinopse">Sinopse</label><br>
      <textarea id="sinopse" name="sinopse" placeholder="Sinopse" rows="4" cols="30"></textarea><br>

      <label for="fkClassificacao">Classificação</label><br>
      <select id="fkClassificacao" name="fkClassificacao" placeholder="Classificação">
        <option value="">Selecione...</option>
        <% classificacoes.forEach(classificacao => { %>
        <option value="<%= classificacao.id %>"><%= classificacao.nome %></option>
        <% }); %>
      </select><br>

      <label for="finalizada">Finalizada?</label>
      <input type="checkbox" id="finalizada" name="finalizada"><br>

      <button type="submit" class="btnCadastrar">Publicar</button><br>
      <a href="/mystories"><button type="button" class="btnCancelar">Cancelar</button></a>

    </form>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
