<!DOCTYPE html>
<html lang="pt-br">
<%- include("../../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../../includes/header") %>
    <main class="mainPrincipal mainListarCategorias">

    <h1 class="tituloListarCategorias"><%= title %></h1>

    <p><a href="/admin/category/new"><button type="button" class="btnAdicionar">Adicionar</button></a></p>

    <table class="tabelaDados">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% categorias.forEach(categoria => { %>
        <tr>
          <th scope="row"> <%= categoria.id %></th>
          <th> <%= categoria.nome %></th>
          <th> <%= categoria.descricao %></th>
          <th>
            <a href="/admin/category/edit/<%= categoria.id %>"><button type="button" class="btnEditar">Editar</button></a>
            <form action="/admin/category/delete/<%= categoria.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
    </main>
<%- include("../../includes/footer") %>
<%- include("../../includes/scripts") %>
    </div>
  </body>
</html>
