<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainCadastrarUsuario">

    <h1 class="tituloCadastrarUsuario"><%= title %></h1>

    <% if (typeof(errors) !== "undefined") { %>
    <ul>
      <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <ul class="listaDeErros" hidden></ul>

    <form action="/signup" method="POST" class="formCadastrarUsuario">

      <label for="nomeUsuario">Nome de usuário</label>
      <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário">

      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="E-mail">

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" placeholder="Senha">

      <button type="submit" class="btnCadastrar">Cadastrar</button>
      <a href="/login"><button type="button" class="btnUsuario">Entrar</button></a>

    </form>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>

<script type="text/javascript">

// VALIDAR CAMPOS DO FORMULÁRIO

function campoVazio(campo) {
    return campo.value.trim() === "";
}

function campoNaoPreenchido(campo) {
    return listaDeErros.innerHTML += "<li>Campo <b>" + campo + "</b> não preenchido</li>";
}

const formCadastrarUsuario = document.querySelector(".formCadastrarUsuario");
const nomeUsuario = document.getElementById("nomeUsuario");
const email = document.getElementById("email");
const senha = document.getElementById("senha");

const listaDeErros = document.querySelector(".listaDeErros");

formCadastrarUsuario.addEventListener("submit", function(event) {
    
    listaDeErros.innerHTML = "";

    if (campoVazio(nomeUsuario)) {
        campoNaoPreenchido("nome de usuário");
    };

    if (campoVazio(email)) {
        campoNaoPreenchido("e-mail");
    };

    if (campoVazio(senha)) {
        campoNaoPreenchido("senha");
    };

    if (listaDeErros.querySelectorAll("li").length > 0) {
        event.preventDefault();
        listaDeErros.hidden = "";
    };

});

//const genero = document.getElementById("genero");

/*genero.onChange = function () {
console.log(this.value);
};*/

/*nomeUsuario.addEventListener("focus", function () {
this.style.backgroundColor = "#EEE";
//console.log("Entrou no campo nome de usuário!");
});

nomeUsuario.addEventListener("blur", function () {
this.style.backgroundColor = "#FFF";
//console.log("Saiu do campo nome de usuário!");
});

nomeUsuario.addEventListener("keyup", function () {
if(this.nodeValue.length >= 3) {
//console.log("Tamanho ok");
}
});*/

</script>

    </div>
  </body>
</html>
