<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainCadastrarUsuario">

    <h1 class="tituloCadastrarUsuario"><%= title %></h1>

    <form action="/signup" method="POST">

      <label for="nomeUsuario">Nome de usuário</label><br>
      <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário"><br>

      <label for="email">E-mail</label><br>
      <input type="email" id="email" name="email" placeholder="E-mail"><br>

      <label for="senha">Senha</label><br>
      <input type="password" id="senha" name="senha" placeholder="Senha"><br><br>

      <button type="submit" class="btnCadastrar">Cadastrar</button><br><br>
      <a href="/login"><button type="button" class="btnUsuario">Entrar</button></a><br><br>

    </form>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
