<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainEditarUsuario">

    <h1 class="tituloEditarUsuario"><%= title %></h1>

    <% if (typeof authUsuario !== "undefined") { %>
    <form action="/settings?_method=PUT" method="POST" enctype="multipart/form-data" class="formEditarUsuario">
      <% } else if (typeof authAdmin !== "undefined") { %>
    <form action="/admin/user/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formEditarUsuario">
    <% } %>

      <label for="nomeUsuario">Nome de usuário</label>
      <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário" value="<%= usuario.nomeUsuario %>">

      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="E-mail" value="<%= usuario.email %>">

      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" placeholder="Nome" value="<%= usuario.nome %>">

      <label for="avatar">Avatar</label>

      <input type="file" id="avatar" name="avatar">

      <label for="descricao">Descrição</label>
      <textarea id="descricao" name="descricao" placeholder="Descrição" rows="3" cols="25">
        <%= usuario.descricao %>
      </textarea>

      <label for="dataNascimento">Data de nascimento</label>
      <input type="date" id="dataNascimento" name="dataNascimento" placeholder="Data de nascimento"
        value="<%= usuario.dataNascimento %>">

      <label for="genero">Gênero</label>
      <select id="genero" name="genero">

      <% if (usuario.genero == "" || usuario.genero == null) { %>
          <option id="" name="" value="" selected>Selecione...</option>
          <option id="masculino" name="masculino" value="Masculino">Masculino</option>
          <option id="feminino" name="feminino" value="Feminino">Feminino</option>
          <option id="outro" name="outro" value="Outro">Outro</option>
      <% } else if (usuario.genero == "Masculino") { %>
          <option id="" name="" value="">Selecione...</option>
          <option id="masculino" name="masculino" value="Masculino" selected>Masculino</option>
          <option id="feminino" name="feminino" value="Feminino">Feminino</option>
          <option id="outro" name="outro" value="Outro">Outro</option>
      <% } else if (usuario.genero == "Feminino") { %>
          <option id="" name="" value="">Selecione...</option>
          <option id="masculino" name="masculino" value="Masculino">Masculino</option>
          <option id="feminino" name="feminino" value="Feminino" selected>Feminino</option>
          <option id="outro" name="outro" value="Outro">Outro</option>
      <% } else if (usuario.genero == "Outro") { %>
          <option id="" name="" value="">Selecione...</option>
          <option id="masculino" name="masculino" value="Masculino">Masculino</option>
          <option id="feminino" name="feminino" value="Feminino">Feminino</option>
          <option id="outro" name="outro" value="Outro" selected>Outro</option>
      <% } %>

      </select>

      <label for="localizacao">Localização</label>
      <select id="localizacao" name="localizacao">
        <option id="" name="" value="<%= usuario.localizacao %>" selected>Selecione...</option>
      </select>
      
      <button type="submit" class="btnSalvar">Salvar alterações</button>

    </form>

      <% if (typeof authUsuario !== "undefined") { %>

      <a href="/home"><button type="button" class="btnCancelar">Cancelar</button></a>

      <button type="button" class="btnModalSenha">Alterar senha</button>

      <form action="/delete/<%= authUsuario.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btnExcluir">Excluir conta</button>
      </form>

      <% } else if (typeof authAdmin !== "undefined") { %>

      <button type="button" class="btnModalSenha">Alterar senha</button>

      <a href="/admin/users"><button type="button" class="btnCancelar">Cancelar</button></a>

      <% } %>

    </main>

    <div id="modalAlterarSenha" class="modalContainerSenha">
      <div class="modalSenha">

        <button type="button" class="btnFecharModalSenha">X</button>

        <h1 class="tituloAlterarSenha">Alterar senha</h1>

        <div class="alertaSenha"></div>

        <% if (typeof authUsuario !== "undefined") { %>
        <form action="/settings/password" method="POST" class="formAlterarSenha">
          <% } else if (typeof authAdmin !== "undefined") { %>
        <form action="/admin/user/edit/<%= usuario.id %>/password" method="POST" class="formAlterarSenha">
        <% } %>
        
        <label for="senha">Digite sua nova senha</label>
        <input type="password" id="senha" name="senha" placeholder="Senha" value="">
        <!--<input type="password" id="senha" name="senha" placeholder="Senha" value="<%= usuario.senha %>">-->

        <button type="submit" class="btnAlterarSenha">Salvar alterações</button>

        <button type="button" class="btnFechar">Fechar</button>

        </form>

      </div>
    </div>

<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>

<script type="text/javascript">

// API RESTCOUNTRIES

const listaDePaises = document.querySelector("#localizacao");

async function listarPaises() {
  
    const resposta = await fetch("https://restcountries.eu/rest/v2/all");
    const paises = await resposta.json();
    const localizacao = "<%= usuario.localizacao %>";

    listaDePaises.innerHTML = `<option id="" name="" value="">Selecione...</option>`;
    paises.forEach(pais => {
      if (localizacao === null || localizacao === "") {
        if (pais.translations.br === "Brasil") {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}" selected>${pais.translations.br}</option>`;
        } else {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}">${pais.translations.br}</option>`;
        }
      } else {
        if (pais.translations.br === localizacao) {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}" selected>${pais.translations.br}</option>`;
        } else {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}">${pais.translations.br}</option>`;
        }
      }
    });
    return paises;
}
listarPaises();

// MODAL ALTERAR SENHA

function iniciaModal(modalID) {
  const modalSenha = document.getElementById(modalID);
  //console.log(modalSenha);
  if(modalSenha) {
    modalSenha.classList.add("mostrarModalSenha");
    modalSenha.addEventListener("click", function (event) {
      if(event.target.id == modalID || event.target.className == "btnFecharModalSenha" || event.target.className == "btnFechar") {
        modalSenha.classList.remove("mostrarModalSenha");
      }
    });
  }
}

const btnModalSenha = document.querySelector(".btnModalSenha");
btnModalSenha.addEventListener("click", function () {
  iniciaModal("modalAlterarSenha");
});

// ALTERAR SENHA

const senha = document.getElementById("senha");
const btnAlterarSenha = document.querySelector(".btnAlterarSenha");
const alertaSenha = document.querySelector(".alertaSenha");

btnAlterarSenha.addEventListener("click", async function alterarSenha(event) {
    event.preventDefault();
    if (senha.value === "") {
        return alertaSenha.innerHTML = "<p>Senha não pode ficar em branco!</p>";
    } else {
        const resposta = await fetch("/settings/password", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                senha: senha.value,
            }),
        });
        console.log(resposta);
        if (resposta.status == 201) {
            alertaSenha.value = "";
            senha.value = "";
            return alertaSenha.innerHTML = "<p>Senha alterada com sucesso!</p>";
        } else {
            alertaSenha.value = "";
            senha.value = "";
            return alertaSenha.innerHTML = "<p>Erro na alteração! Tente novamente</p>";
        }
    }
});

</script>

    </div>
  </body>
</html>
