<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainEditarUsuario">

    <h1 class="tituloEditarUsuario"><%= title %></h1>

    <% if (typeof(errors) !== "undefined") { %>
    <ul>
      <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <% if (typeof authUsuario !== "undefined") { %>
    <form action="/settings?_method=PUT" method="POST" enctype="multipart/form-data" class="formEditarUsuario">
      <% } else if (typeof authAdmin !== "undefined") { %>
    <form action="/admin/user/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formEditarUsuario">
    <% } %>

      <!--<label for="senha">Senha</label><br>
      <input type="password" id="senha" name="senha" placeholder="Senha" value="<%= usuario.senha %>"><br>-->

      <label for="nomeUsuario">Nome de usuário</label><br>
      <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Nome de usuário" value="<%= usuario.nomeUsuario %>"><br>

      <label for="email">E-mail</label><br>
      <input type="email" id="email" name="email" placeholder="E-mail" value="<%= usuario.email %>"><br>

      <label for="nome">Nome</label><br>
      <input type="text" id="nome" name="nome" placeholder="Nome" value="<%= usuario.nome %>"><br>

      <label for="avatar">Avatar</label><br>
      <input type="file" id="avatar" name="avatar" placeholder="Avatar" value="<%= usuario.avatar %>"><br>

      <label for="descricao">Descrição</label><br>
      <textarea id="descricao" name="descricao" placeholder="Descrição" rows="3" cols="25">
        <%= usuario.descricao %>
      </textarea><br>

      <label for="dataNascimento">Data de nascimento</label><br>
      <input type="date" id="dataNascimento" name="dataNascimento" placeholder="Data de nascimento"
        value="<%= usuario.dataNascimento %>"><br>

      <label for="genero">Gênero</label><br>
      <select id="genero" name="genero">
        <option id="" name="" value="" selected>Selecione...</option>
        <option id="masculino" name="masculino" value="<%= usuario.genero %>">Masculino</option>
        <option id="feminino" name="feminino" value="<%= usuario.genero %>">Feminino</option>
        <option id="outro" name="outro" value="<%= usuario.genero %>">Outro</option>
      </select><br>

      <label for="localizacao">Localização</label><br>
      <select id="localizacao" name="localizacao">
        <option id="" name="" value="<%= usuario.localizacao %>" selected>Selecione...</option>
      </select><br>
      
      <button type="submit" class="btnSalvar">Salvar alterações</button>

    </form>

      <% if (typeof authUsuario !== "undefined") { %>

      <a href="/home"><button type="button" class="btnCancelar">Cancelar</button></a>

      <form action="/delete/<%= authUsuario.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btnExcluir">Excluir conta</button>
      </form>

      <% } else if (typeof authAdmin !== "undefined") { %>

      <a href="/admin/users"><button type="button" class="btnCancelar">Cancelar</button></a>

      <% } %>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>

<!-- CONSUMO DE API -->

<script type="text/javascript">

const listaDePaises = document.querySelector("#localizacao");

async function listarPaises() {
  
    const resposta = await fetch("https://restcountries.eu/rest/v2/all");
    const paises = await resposta.json();
    const localizacao = "<%= usuario.localizacao %>";

    listaDePaises.innerHTML = `<option id="" name="" value="">Selecione...</option>`;
    paises.forEach(pais => {
      if (localizacao === null || localizacao === "") {
        if (pais.translations.br === "Brasil") {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}" selected>${pais.translations.br}</option>`;
        } else {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}">${pais.translations.br}</option>`;
        }
      } else {
        if (pais.translations.br === localizacao) {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}" selected>${pais.translations.br}</option>`;
        } else {
            listaDePaises.innerHTML +=
                `<option id="" name="" value="${pais.translations.br}">${pais.translations.br}</option>`;
        }
      }
    });
    return paises;
}
listarPaises();

</script>

    </div>
  </body>
</html>
