<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="mainPrincipal mainIndexUsuarios">

    <h1 class="tituloIndexUsuarios"><%= title %></h1>

    <table class="tabelaDados">
        <% usuarios.forEach(usuario => { %>
        <tr>
          <td> <%= usuario.nomeUsuario %></td>
          <td>
            <% if (typeof authUsuario !== "undefined") { %>

            <a href="/user/<%= usuario.nomeUsuario %>"><button type="button" class="btnVisualizar">Visualizar</button></a>

            <% } else if (typeof authAdmin !== "undefined") { %>

            <a href="/admin/user/<%= usuario.nomeUsuario %>"><button type="button" class="btnVisualizar">Visualizar</button></a>
            <a href="/admin/user/edit/<%= usuario.id %>"><button type="button" class="btnEditar">Editar</button></a>
            <form action="/admin/user/delete/<%= usuario.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>

            <% } %>
          </td>
        </tr>
        <% }); %>
    </table>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
  </body>
</html>
