<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainListarUsuarios">

    <h1 class="tituloListarUsuarios"><%= title %></h1>

    <table class="tabelaDados">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usuário</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(usuario => { %>
        <tr>
          <th scope="row"> <%= usuario.id %></th>
          <th> <%= usuario.nomeUsuario %></th>
          <th>

            <% if (typeof authUsuario !== "undefined") { %>

            <a href="/user/<%= usuario.nomeUsuario %>"><button type="button" class="btnVisualizar">Visualizar</button></a>

            <% } else if (typeof authAdmin !== "undefined") { %>

            <a href="/admin/user/<%= usuario.nomeUsuario %>"><button type="button" class="btnVisualizar">Visualizar</button></a>
            <!--<a href="/admin/user/edit/<%= usuario.id %>"><button type="button" class="btnEditar">Editar</button></a>-->
            <form action="/admin/user/delete/<%= usuario.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btnExcluir">Excluir</button>
            </form>

            <% } %>

          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
