<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
<%- include("../includes/header") %>
    <main class="mainPrincipal mainUsuario">

    <h1 class="tituloUsuario"><%= usuario.nomeUsuario %></h1>

    <h2><%= usuario.nome %></h2>

    <!--<%= usuario.avatar %>-->
    <!--<img src="">-->

    <p><%= usuario.descricao %></p>

    <% if(usuario.dataNascimento != null || usuario.dataNascimento != "0000-00-00") { %>
    <p><b>Data de nascimento:</b> <%= moment(usuario.dataNascimento).format("L") %> %></p>

    <% } %>

    <% for (let i=0; i<generos.length; i+=2) { %>
      <% if (usuario.genero == generos[i]) { %>
    <p><b>Gênero:</b> <%= generos[i+1] %></p>
      <% } %>
    <% } %>

    <p><b>País:</b> <%= usuario.localizacao %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
  </body>
</html>
