<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainUsuario">

    <h1 class="tituloUsuario"><%= title %></h1>
    <h2><%= usuario.nomeUsuario %></h2>

    <h3><%= usuario.nome %></h3>

    <p><%= usuario.avatar %></p>

    <p><%= usuario.descricao %></p>

    <% if(usuario.dataNascimento !== null || usuario.dataNascimento !== "0000-00-00") { %>
    <p>Data de nascimento: <%= moment(usuario.dataNascimento).format("DD/MM/YYYY") %> %></p>
    <% } %>

    <p>Gênero: <%= usuario.genero %></p>
    <p>País: <%= usuario.localizacao %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
