<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/head") %>
  <body>
    <div class="divPrincipal">
<%- include("../includes/header") %>
    <main class="mainPrincipal mainUsuario">

    <h1 class="tituloUsuario"><%= usuario.nomeUsuario %></h1>

    <h2><%= usuario.nome %></h2>

    <!--<%= usuario.avatar %>-->
    <!--<img src="">-->

    <p><%= usuario.descricao %></p>

    <% if(usuario.dataNascimento !== null || usuario.dataNascimento !== "0000-00-00") { %>
    <p><b>Data de nascimento:</b> <%= moment(usuario.dataNascimento).format("DD/MM/YYYY") %> %></p>
    <% } %>

    <p><b>Gênero:</b> <%= usuario.genero %></p>
    <p><b>País:</b> <%= usuario.localizacao %></p>

    </main>
<%- include("../includes/footer") %>
<%- include("../includes/scripts") %>
    </div>
  </body>
</html>
